DZ1/Sensor/Service References/Service/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1027/WebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1027/WebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1027/WebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWebService_register_InputMessage">
    <wsdl:part name="parameters" element="tns:register" />
  </wsdl:message>
  <wsdl:message name="IWebService_register_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_searchNeighbour_InputMessage">
    <wsdl:part name="parameters" element="tns:searchNeighbour" />
  </wsdl:message>
  <wsdl:message name="IWebService_searchNeighbour_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchNeighbourResponse" />
  </wsdl:message>
  <wsdl:message name="IWebService_storeMeasurement_InputMessage">
    <wsdl:part name="parameters" element="tns:storeMeasurement" />
  </wsdl:message>
  <wsdl:message name="IWebService_storeMeasurement_OutputMessage">
    <wsdl:part name="parameters" element="tns:storeMeasurementResponse" />
  </wsdl:message>
  <wsdl:portType name="IWebService">
    <wsdl:operation name="register">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/register" message="tns:IWebService_register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/registerResponse" message="tns:IWebService_register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchNeighbour">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/searchNeighbour" message="tns:IWebService_searchNeighbour_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/searchNeighbourResponse" message="tns:IWebService_searchNeighbour_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="storeMeasurement">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebService/storeMeasurement" message="tns:IWebService_storeMeasurement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebService/storeMeasurementResponse" message="tns:IWebService_storeMeasurement_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWebService" type="tns:IWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="register">
      <soap:operation soapAction="http://tempuri.org/IWebService/register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchNeighbour">
      <soap:operation soapAction="http://tempuri.org/IWebService/searchNeighbour" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="storeMeasurement">
      <soap:operation soapAction="http://tempuri.org/IWebService/storeMeasurement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IWebService" binding="tns:BasicHttpBinding_IWebService">
      <soap:address location="http://localhost:1027/WebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>